
# Lending Club Loan Data – Exploratory Data Analysis (EDA)

In [ ]:
# Import Required Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Load the Dataset
df = pd.read_csv("/content/lending_club_clean_sample.csv")
df.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag
0,95192865,20000,20000,20000.0,36,0.2474,792.45,E,E3,Operations Manager,...,NaN,NaN,NaN,-1,-1,NaN,-1.0,-1.0,-1.0,N
1,110539760,8300,8300,8300.0,36,0.0944,265.65,B,B1,HVAC technician,...,NaN,NaN,NaN,-1,-1,NaN,-1.0,-1.0,-1.0,N
2,93930856,28000,28000,28000.0,60,0.1274,633.37,C,C1,Dean,...,NaN,NaN,NaN,-1,-1,NaN,-1.0,-1.0,-1.0,N
3,14447893,19500,19500,19500.0,60,0.1416,455.36,C,C2,oil field service,...,NaN,NaN,NaN,-1,-1,NaN,-1.0,-1.0,-1.0,N
4,135471544,35000,35000,35000.0,36,0.0531,1053.86,A,A1,Owner/CEO,...,NaN,NaN,NaN,-1,-1,NaN,-1.0,-1.0,-1.0,N

In [ ]:
# Dataset Shape & Structure
df.shape

(1000, 141)

In [ ]:
# Column types & missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 141 entries, id to debt_settlement_flag
dtypes: float64(26), int64(84), object(31)
memory usage: 1.1+ MB

In [ ]:
df.describe()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,annual_inc,dti,delinq_2yrs,...,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount
count,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,9.423156e+07,15425.225000,15416.750000,15397.945838,43.63200,0.129965,450.921430,78023.778490,20.107670,0.276000,...,-0.284000,-0.946000,-0.947000,-0.827000,4.387390,-0.827000,-0.780000,23.460070,802.395580,39.789370
std,5.159177e+07,9261.969197,9258.373273,9265.828165,11.18238,0.049197,267.533426,49647.714267,32.513238,0.790221,...,3.559496,0.230515,0.224146,0.734582,52.486808,0.734582,1.900319,135.744865,3808.412606,424.634416
min,2.143630e+05,1000.000000,1000.000000,1000.000000,36.00000,0.053100,32.750000,0.000000,-2.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,5.561235e+07,8237.500000,8237.500000,8162.500000,36.00000,0.091700,259.862500,46000.000000,12.817500,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
50%,9.806270e+07,13862.500000,13862.500000,13837.500000,36.00000,0.124000,382.780000,67000.000000,18.140000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
75%,1.411886e+08,20000.000000,20000.000000,20000.000000,60.00000,0.158025,585.280000,94000.000000,25.165000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
max,1.706991e+08,40000.000000,40000.000000,40000.000000,60.00000,0.306500,1445.900000,485000.000000,999.000000,7.000000,...,54.000000,1.000000,0.000000,4.000000,871.110000,4.000000,28.000000,2111.010000,38327.160000,12796.620000

In [ ]:
# Count missing values per column
missing_count = df.isna().sum()
missing_percent = (missing_count / len(df)) * 100
# Combine in one DataFrame
missing_df = pd.DataFrame({
    'Missing_Count': missing_count,
    'Missing_Percent': missing_percent
})

# Show columns with missing values only
missing_df[missing_df['Missing_Count'] > 0].sort_values(
    by='Missing_Percent', ascending=False
).head(20)

                           Missing_Count  Missing_Percent
verification_status_joint            949             94.9
sec_app_earliest_cr_line             947             94.7
payment_plan_start_date              946             94.6
hardship_start_date                  946             94.6
hardship_status                      946             94.6
hardship_reason                      946             94.6
hardship_type                        946             94.6
hardship_loan_status                 946             94.6
hardship_end_date                    946             94.6
next_pymnt_d                         675             67.5
emp_title                             91              9.1
emp_length                            75              7.5
hardship_flag                          9              0.9
title                                  6              0.6
revol_util                             1              0.1

In [ ]:
# Remove Columns with High Missing Values
# Define threshold
missing_threshold = 67

# Identify columns to drop
high_missing_cols = missing_df[
    missing_df['Missing_Percent'] >= missing_threshold
].index.tolist()

# Review columns
len(high_missing_cols), high_missing_cols
df.drop(columns=high_missing_cols, inplace=True)

# Check updated shape
df.shape

(1000, 131)

In [ ]:
df["emp_title"].fillna("Not Provided",inplace=True)

/tmp/ipython-input-4071740415.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["emp_title"].fillna("Not Provided",inplace=True)

In [ ]:
# Fill missing employment length with 'Unknown'
df['emp_length'].fillna('Unknown', inplace=True)

/tmp/ipython-input-63364522.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['emp_length'].fillna('Unknown', inplace=True)

In [ ]:
# hardship_flag indicates whether the borrower entered a hardship program
# Hardship programs are rare, so missing values most likely mean "No hardship"
df['hardship_flag'].fillna('N', inplace=True)

/tmp/ipython-input-656819584.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['hardship_flag'].fillna('N', inplace=True)

In [ ]:
df["title"].fillna("Not Provided",inplace=True)

/tmp/ipython-input-1428252680.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["title"].fillna("Not Provided",inplace=True)

In [ ]:
df["revol_util"].fillna(df["revol_util"].median(),inplace=True)

/tmp/ipython-input-2704777045.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["revol_util"].fillna(df["revol_util"].median(),inplace=True)

In [ ]:
# Check for Duplicate Rows
# Count duplicate rows
duplicate_rows = df.duplicated().sum()
duplicate_rows

np.int64(0)

In [ ]:
date_cols = [
    "issue_d",
    "earliest_cr_line",
    "last_pymnt_d",
    "last_credit_pull_d",
]

for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors="coerce").dt.date

In [ ]:
df['target_default'] = df['loan_status'].apply(lambda x:1 if x in ["Charged Off","Default"] else 0)

In [ ]:
df["target_default"].value_counts(normalize=True)

target_default
0    0.87
1    0.13
Name: proportion, dtype: float64

In [ ]:
df.to_csv("lending_club_clean.csv", index=False)